@import 'variables';
@import 'bootstrap';

// ------------ Font ------------------------- //
/* JetBrains Mono */
.font-jetbrains-mono,
.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

/* Inter */
.font-poppins,
.font-heading {
  font-family: 'Inter', sans-serif;
}

/* Figtree */
.font-source-sans-3,
.font-sans {
  font-family: 'Figtree', sans-serif;
}
